@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(cascader-panel) {
  display: flex;
  border-radius: map.get($cascader, 'menu-border-radius');
  font-size: map.get($cascader, 'menu-font-size');

  @include when(bordered) {
    border: map.get($cascader, 'menu-border');
    border-radius: map.get($cascader, 'menu-border-radius');
  }
}

@include b(cascader-menu) {
  min-width: 180px;
  box-sizing: border-box;
  color: map.get($cascader, 'menu-text-color');
  border-right: map.get($cascader, 'menu-border');

  &:last-child {
    border-right: none;

    .#{$namespace}-cascader-node {
      padding-right: 0;
    }
  }

  @include e(wrap) {
    // Raise the priority
    &.#{$namespace}-scrollbar__wrap {
      height: 204px;
    }
  }

  @include e(list) {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
  }

  @include e(hover-zone) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include e(empty-text) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    color: map.get($cascader, 'empty-text-color');

    .is-loading {
      margin-right: 2px;
    }
  }
}

@include b(cascader-node) {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  outline: none;

  &.in-active-path {
    background-color: map.get($cascader, 'node-bg-color-hover');
  }

  &.is-selectable.in-active-path {
    color: map.get($cascader, 'menu-text-color');
  }

  &.in-active-path,
  &.is-selectable.in-checked-path,
  &.is-active {
    color: map.get($cascader, 'menu-text-color-selected');
    // font-weight: bold;
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      background: map.get($cascader, 'node-bg-color-hover');
    }
  }

  @include when(disabled) {
    color: map.get($cascader, 'node-text-color-disabled');
    cursor: not-allowed;
  }

  @include e(prefix) {
    position: absolute;
    left: 8px;
    font-size: 10px;

    .#{$namespace}-cascader-menu__list
      .is-active
      &
      + .#{$namespace}-cascader-node__label {
      padding-left: 18px;
    }
  }

  @include e(postfix) {
    position: absolute;
    right: 10px;
    font-size: 10px;

    &.#{$namespace}-icon-loading {
      font-size: 16px;
      color: getCssVar('color', 'primary');
    }
  }

  @include e(label) {
    flex: 1;
    text-align: left;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .#{$namespace}-radio {
    margin-right: 8px;

    .#{$namespace}-radio__label {
      padding-left: 0;
    }
  }

  .#{$namespace}-checkbox:last-of-type {
    margin-right: 8px;
  }
}
