@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
@use 'common/popup' as *;

@include b(message-box) {
  display: inline-block;
  width: map.get($message-box, 'width');
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: map.get($message-box, 'bg-color');
  border-radius: map.get($message-box, 'border-radius');
  border: 1px solid getCssVar('border-color', 'light');
  font-size: map.get($message-box, 'font-size');
  box-shadow: getCssVar('box-shadow', 'light');
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;

  &:focus {
    outline: none !important;
  }

  @at-root .#{$namespace}-overlay.is-message-box {
    .#{$namespace}-overlay-message-box {
      text-align: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;

      &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
    }
  }

  @include when(draggable) {
    @include e(header) {
      cursor: move;
      user-select: none;
    }
  }

  @include e(header) {
    position: relative;
    display: flex;
    align-items: center;
    height: map.get($message-box, 'header-height');
    padding: 0 map.get($message-box, 'padding');
    background-color: map.get($message-box, 'header-bg-color');
    word-break: break-all;
  }

  @include e(title) {
    padding-left: 0;
    margin-bottom: 0;
    font-size: map.get($message-box, 'font-size');
    line-height: 1;
    color: map.get($message-box, 'title-text-color');
  }

  @include e(headerbtn) {
    position: absolute;
    top: 0;
    right: 4px;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: map.get($message-box, 'close-font-size');
    cursor: pointer;

    .#{$namespace}-message-box__close {
      color: getCssVar('color-info');
      font-size: inherit;
    }

    &:focus,
    &:hover {
      .#{$namespace}-message-box__close {
        color: getCssVar('color-primary');
      }
    }
  }

  @include e(content) {
    padding: map.get($message-box, 'padding-large');
    color: map.get($message-box, 'content-text-color');
    font-size: map.get($message-box, 'content-font-size');
  }

  @include e(container) {
    position: relative;
  }

  @include e(input) {
    padding-top: 15px;

    & div.invalid > input {
      border-color: getCssVar('color-error');

      &:focus {
        border-color: getCssVar('color-error');
      }
    }
  }

  @include e(status) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: map.get($message-box, 'icon-size-large') !important;

    &::before {
      // 防止图标切割
      padding-left: 1px;
    }

    &.#{$namespace}-icon {
      // 防止 el-icon 的position样式覆盖
      position: absolute;
    }

    + .#{$namespace}-message-box__message {
      padding-left: 36px;
      padding-right: 12px;
      word-break: break-word;
    }

    @each $type in (success, info, warning, error) {
      &.#{$namespace}-message-box-icon--#{$type} {
        color: getCssVar('color', $type);
      }
    }
  }

  @include e(message) {
    margin: 0;

    & p {
      margin: 0;
      line-height: 24px;
    }
  }

  @include e(errormsg) {
    color: getCssVar('color-error');
    font-size: map.get($message-box, 'error-font-size');
    min-height: 18px;
    margin-top: 2px;
  }

  @include e(btns) {
    padding: 0 map.get($message-box, 'padding');
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & button:nth-child(2) {
      margin-left: 8px;
    }
  }

  @include e(btns-reverse) {
    flex-direction: row-reverse;
  }

  // centerAlign 布局
  @include m(center) {
    padding-bottom: 30px;

    @include e(header) {
      padding-top: 30px;
    }

    @include e(title) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include e(status) {
      position: relative;
      top: auto;
      padding-right: 5px;
      text-align: center;
      transform: translateY(-1px);
    }

    @include e(message) {
      margin-left: 0;
    }

    @include e(btns) {
      justify-content: center;
    }

    @include e(content) {
      $padding-horizontal: calc(map.get($message-box, 'padding') + 12px);

      padding-left: $padding-horizontal;
      padding-right: $padding-horizontal;

      text-align: center;
    }
  }

  @include when(confirm) {
    border: none;
    @include e(content) {
      min-height: 90px;
      box-sizing: border-box;
    }
    @include e(container) {
      display: flex;
    }
    @include e(status) {
      position: unset;
      transform: none;
      font-size: map.get($message-box, 'icon-size') !important;
      transform: translateY(2px);

      & + .#{$namespace}-message-box__message {
        padding-left: 8px;
      }
    }
    @include e(desc) {
      font-size: map.get($message-box, 'desc-font-size');
      color: map.get($message-box, 'desc-text-color');
    }
  }
}

.fade-in-linear-enter-active {
  .#{$namespace}-overlay-message-box {
    animation: msgbox-fade-in getCssVar('transition-duration');
  }
}

.fade-in-linear-leave-active {
  .#{$namespace}-overlay-message-box {
    animation: msgbox-fade-in getCssVar('transition-duration') reverse;
  }
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
