@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(switch) {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: map.get($switch-font-size, 'default');
  line-height: map.get($switch-core-height, 'default');
  height: map.get($switch-height, 'default');
  vertical-align: middle;

  @include when(disabled) {
    & .#{$namespace}-switch__core,
    & .#{$namespace}-switch__label {
      cursor: not-allowed;
    }
  }

  @include e(label) {
    transition: getCssVar('transition-duration-fast');
    height: map.get($switch-core-height, 'default');
    display: inline-block;
    font-size: map.get($switch-font-size, 'default');
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: getCssVar('text-color', 'primary');

    @include when(active) {
      color: getCssVar('color-primary');
    }

    @include m(left) {
      margin-right: 10px;
    }
    @include m(right) {
      margin-left: 10px;
    }
    & * {
      line-height: 1;
      font-size: map.get($switch-font-size, 'default');
      display: inline-block;
    }
    .#{$namespace}-icon {
      height: inherit;

      svg {
        vertical-align: middle;
      }
    }
  }

  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;

    &:focus-visible {
      & ~ .#{$namespace}-switch__core {
        outline: 2px solid map.get($switch, 'on-color');
        outline-offset: 1px;
      }
    }
  }

  @include e(core) {
    margin: 0;
    display: inline-block;
    position: relative;
    width: map.get($switch-core-width, 'default');
    height: map.get($switch-core-height, 'default');
    border: 1px solid map.get($switch, 'off-color');
    outline: none;
    border-radius: map.get($switch-core-border-radius, 'default');
    box-sizing: border-box;
    background: map.get($switch, 'off-color');
    cursor: pointer;
    transition: border-color getCssVar('transition-duration'),
      background-color getCssVar('transition-duration');
    vertical-align: middle;

    .#{$namespace}-switch__inner {
      position: absolute;
      top: 1px;
      left: 1px;
      transition: all getCssVar('transition-duration');
      width: map.get($switch-button-size, 'default');
      height: map.get($switch-button-size, 'default');
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      white-space: nowrap;

      .is-icon,
      .is-text {
        color: getCssVar('color-white');
        transition: opacity getCssVar('transition-duration');
        position: absolute;
        user-select: none;
      }
    }

    .#{$namespace}-switch__action {
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: getCssVar('border-radius-circle');
      transition: all getCssVar('transition-duration');
      width: map.get($switch-button-size, 'default');
      height: map.get($switch-button-size, 'default');
      background-color: getCssVar('color-white');
      display: flex;
      justify-content: center;
      align-items: center;
      color: map.get($switch, 'off-color');

      .is-icon,
      .is-text {
        transition: opacity getCssVar('transition-duration');
        position: absolute;
        user-select: none;
      }
    }

    .is-text {
      font-size: 12px;
    }

    .is-show {
      opacity: 1;
    }

    .is-hide {
      opacity: 0;
    }
  }

  @include when(checked) {
    .#{$namespace}-switch__core {
      border-color: map.get($switch, 'on-color');
      background-color: map.get($switch, 'on-color');

      .#{$namespace}-switch__action {
        left: 100%;
        margin-left: calc(-1px - #{map.get($switch-button-size, 'default')});
        color: map.get($switch, 'on-color');
      }

      .#{$namespace}-switch__inner {
        left: 50%;
        white-space: nowrap;
        margin-left: calc(-1px - #{map.get($switch-button-size, 'default')});
      }
    }
  }

  @include when(disabled) {
    opacity: 0.6;
  }

  @include m(wide) {
    .#{$namespace}-switch__label {
      &.#{$namespace}-switch__label--left {
        span {
          left: 10px;
        }
      }

      &.#{$namespace}-switch__label--right {
        span {
          right: 10px;
        }
      }
    }
  }

  & .label-fade-enter-from,
  & .label-fade-leave-active {
    opacity: 0;
  }

  @each $size in (large, small) {
    @include m($size) {
      font-size: map.get($switch-font-size, $size);
      line-height: map.get($switch-core-height, $size);
      height: map.get($switch-height, $size);

      @include e(label) {
        height: map.get($switch-core-height, $size);
        font-size: map.get($switch-font-size, $size);

        & * {
          font-size: map.get($switch-font-size, $size);
        }
      }

      @include e(core) {
        width: map.get($switch-core-width, $size);
        height: map.get($switch-core-height, $size);
        border-radius: map.get($switch-core-border-radius, $size);

        .#{$namespace}-switch__inner {
          width: map.get($switch-button-size, $size);
          height: map.get($switch-button-size, $size);
        }

        .#{$namespace}-switch__action {
          width: map.get($switch-button-size, $size);
          height: map.get($switch-button-size, $size);
        }
      }

      @include when(checked) {
        .#{$namespace}-switch__core {
          .#{$namespace}-switch__action {
            margin-left: calc(-1px - #{map.get($switch-button-size, $size)});
          }

          .#{$namespace}-switch__inner {
            margin-left: calc(-1px - #{map.get($switch-button-size, $size)});
          }
        }
      }
    }
  }
}
