@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(tooltip) {
  &.#{$namespace}-popper {
    position: absolute;
    border-radius: 2px;
    padding: map.get($tooltip, 'padding');
    font-size: map.get($tooltip, 'font-size');
    line-height: 1.2;

    @include when(dark) {
      background: map.get($tooltip, 'fill');
      color: map.get($tooltip, 'color');

      .#{$namespace}-popper__arrow::before {
        border: none;
        background: map.get($tooltip, 'fill');
      }
    }

    @include when(light) {
      background: map.get($tooltip, 'fill');
      color: getCssVar('color', 'white');

      .#{$namespace}-popper__arrow::before {
        background: map.get($tooltip, 'fill');
      }
    }
  }
}
