@use 'sass:map';

@use '../mixins/mixins' as *;
@use '../common/var' as *;

@include b(month-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  .#{$namespace}-picker-panel__content.is-left & {
    border-right: 1px solid getCssVar('line-color', 'base');
  }

  td {
    text-align: center;
    padding: 8px 0 0;
    cursor: pointer;
    & div {
      height: 48px;
      padding-top: 6px;
      box-sizing: border-box;
    }
    &.today {
      .cell {
        color: getCssVar('color-primary');
        font-weight: bold;
      }
      &.start-date .cell,
      &.end-date .cell {
        color: $color-white;
      }
    }

    &.disabled .cell {
      background-color: getCssVar('fill-color', '4');
      cursor: not-allowed;
      color: getCssVar('text-color', 'placeholder');

      &:hover {
        color: getCssVar('text-color', 'placeholder');
      }
    }

    .cell {
      width: 40px;
      height: 36px;
      display: block;
      line-height: 36px;
      color: map.get($datepicker, 'text-color');
      margin: 0 auto;
      border-radius: 18px;
      &:hover {
        color: map.get($datepicker, 'text-color-hover');
      }
    }

    &.in-range div {
      background-color: map.get($datepicker, 'inrange-bg-color');
      &:hover {
        background-color: map.get($datepicker, 'inrange-bg-color-hover');
      }
    }
    &.start-date div,
    &.end-date div {
      color: $color-white;
    }

    &.start-date .cell,
    &.end-date .cell {
      color: $color-white;
      background-color: map.get($datepicker, 'bg-color-active');
    }

    &.start-date div {
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    &.end-date div {
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
    }

    &.current:not(.disabled) .cell {
      color: map.get($datepicker, 'text-color-active');
    }

    &:focus-visible {
      outline: none;
      .cell {
        outline: 2px solid map.get($datepicker, 'active-color');
      }
    }
  }
}
