@use 'sass:map';

@use '../mixins/mixins' as *;
@use '../common/var' as *;

@include b(year-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  .#{$namespace}-icon {
    color: map.get($datepicker, 'icon-color');
  }

  td {
    text-align: center;
    padding-top: 16px;
    cursor: pointer;

    &.today {
      .cell {
        color: getCssVar('color', 'primary');
        font-weight: bold;
      }
    }

    &.disabled .cell {
      background-color: getCssVar('fill-color', '4');
      cursor: not-allowed;
      color: getCssVar('text-color', 'placeholder');

      &:hover {
        color: getCssVar('text-color', 'placeholder');
      }
    }

    .cell {
      width: 48px;
      height: 32px;
      display: block;
      line-height: 32px;
      color: map.get($datepicker, 'text-color');
      margin: 0 auto;

      &:hover {
        color: map.get($datepicker, 'text-color-hover');
      }
    }

    &.current:not(.disabled) .cell {
      color: map.get($datepicker, 'text-color-active');
    }

    &:focus-visible {
      outline: none;
      .cell {
        outline: 2px solid map.get($datepicker, 'active-color');
      }
    }
  }
}
