/* Element Chalk Variables */
@use 'sass:math';
@use 'sass:map';
@use 'palette' as *;

@use '../mixins/function.scss' as *;

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

// types
$types: primary, success, warning, danger, error, info;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': var(--blue-6),
    'success': var(--green-6),
    'warning': var(--orange-6),
    'danger': var(--red-6),
    'error': var(--red-6),
    'info': var(--grey-11),
  ),
  $colors
);

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-primary: map.get($colors, 'primary') !default;
$color-success: map.get($colors, 'success') !default;
$color-warning: map.get($colors, 'warning') !default;
$color-danger: map.get($colors, 'danger') !default;
$color-error: map.get($colors, 'error') !default;
$color-info: map.get($colors, 'info') !default;

$text-color: () !default;
$text-color: map.merge(
  (
    'primary': var(--grey-12),
    'secondary': var(--grey-11),
    'placeholder': var(--grey-10),
    'disabled': var(--grey-7),
  ),
  $text-color
);

// 边框颜色
$border-color: () !default;
$border-color: map.merge(
  (
    'heavy': var(--grey-10),
    'base': var(--grey-7),
    'light': var(--grey-5),
  ),
  $border-color
);

// 分割线颜色
$line-color: () !default;
$line-color: map.merge(
  (
    'base': var(--grey-1),
    'light': var(--grey-6),
  ),
  $line-color
);

$fill-color: () !default;
$fill-color: map.merge(
  (
    // 需要突出于背景的组件填充（更深，有凹陷效果），输入框填充、单复选框填充
    '1': var(--grey-2),
    // 与背景颜色相同的组件填充， 卡片填充
    '2': var(--grey-3),
    // 需要突出于背景的组件填充（更浅，有浮出效果）,下拉菜单、穿梭框等
    '3': var(--grey-4),
    // 层级较高的头部区域的组件填充，表头填充、穿梭框头部、卡片tab
    '4': var(--grey-5),
    // 需要特别突出的组件
    '5': var(--grey-7)
  ),
  $fill-color
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    // 整体背景
    '1': var(--grey-1),
    // 二级背景，表单页面等
    '2': var(--grey-3),
    // 三级背景，标题栏等
    '3': var(--grey-5),
    // 侧边菜单栏背景
    '4': var(--grey-4)
  ),
  $bg-color
);

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color-hover: getCssVar('text-color', 'disabled') !default;

$border-radius: () !default;
$border-radius: map.merge(
  (
    'base': 2px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),
  $border-radius
);

// Box-shadow
$box-shadow: () !default;
$box-shadow: map.merge(
  (
    'base': var(--shadow-1),
    'light': var(--shadow-2),
    'ultrastrong': var(--shadow-3),
  ),
  $box-shadow
);

// Typography
$font-family: () !default;
$font-family: map.merge(
  (
    // default family
    '':
      "'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif"
  ),
  $font-family
);

$font-size: () !default;
$font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $font-size
);

$font-weight: () !default;
$font-weight: map.merge(
  (
    // 字重 - 常规
    'regular': 400,
    // 字重 - 加粗
    'bold': 500
  ),
  $font-weight
);

// zIndex
$z-index: () !default;
$z-index: map.merge(
  (
    'normal': 1,
    'top': 1000,
    'popper': 2000,
  ),
  $z-index
);

// Disable default
$disabled: () !default;
$disabled: map.merge(
  (
    'bg-color': var(--grey-3),
    'text-color': var(--grey-7),
    'border-color': var(--grey-7),
    'icon-color': var(--grey-7),
  ),
  $disabled
);

$common-component-size: () !default;
$common-component-size: map.merge(
  (
    'large': 36px,
    'default': 30px,
    'small': 24px,
  ),
  $common-component-size
);

// Spacing
$spacing: () !default;
$spacing: map.merge(
  (
    // 间距 - 零
    'none': 0,
    // 间距 - 极紧凑尺寸内/外边距
    'super-tight': 2px,
    // 间距 - 超紧凑尺寸内/外边距
    'extra-tight': 4px,
    // 间距 - 紧凑尺寸内/外边距
    'tight': 8px,
    // 间距 - 默认（偏紧凑）尺寸内/外边距
    'base-tight': 12px,
    // 间距 - 默认尺寸内/外边距
    'base': 16px,
    // 间距 - 默认（偏宽松）尺寸内/外边距
    'base-loose': 20px,
    // 间距 - 宽松尺寸内/外边距
    'loose': 24px,
    // 间距 - 超宽松尺寸内/外边距
    'extra-loose': 32px,
    // 间距 - 极宽松尺寸内/外边距
    'super-loose': 40px
  ),
  $spacing
);

// Icon Size
$icon-size: () !default;
$icon-size: map.merge(
  (
    // 图标尺寸 - 超小
    'extra-small': 8px,
    // 图标尺寸 - 小
    'small': 16px,
    // 图标尺寸 - 中
    'default': 18px,
    // 图标尺寸 - 大
    'large': 20px,
    // 图标尺寸 - 超大
    'extra-large': 24px
  ),
  $icon-size
);

// Height Control
$height-control: () !default;
$height-control: map.merge(
  (
    // 表单项高度 - 小尺寸
    'small': 24px,
    // 表单项高度 - 默认尺寸
    'default': 30px,
    // 表单项高度 - 大尺寸
    'large': 36px
  ),
  $height-control
);

// overlay
$overlay-color: () !default;
$overlay-color: map.merge(
  (
    '': rgba(0, 0, 0, 0.8),
    'light': rgba(0, 0, 0, 0.7),
    'lighter': rgba(0, 0, 0, 0.5),
  ),
  $overlay-color
);

// mask
$mask-color: () !default;
$mask-color: map.merge(
  (
    '': rgba(255, 255, 255, 0.9),
    'extra-light': rgba(255, 255, 255, 0.3),
  ),
  $mask-color
);

// 组件 scss 变量 start
// 变量名称可按如下规则定义：
// [type]-[attrtype]-<attr>-[status]

// type: 组件类型，如 button 的次要按钮（line）
// attrtype: 属性的具体应用场景。如颜色，用于背景（bg）、文本（text）、边框（border）等
// attr: 属性名称，如color、height、radius等
// status: 表示组件状态或尺寸，如 hover、disabled 等

// 如：@button-line-bg-color-hover
// 如：@button-line-height-small

// Components
// ---
// Checkbox
// css3 var in packages/theme-chalk/src/checkbox.scss
$checkbox: () !default;
$checkbox: map.merge(
  (
    // 颜色
    'text-color': getCssVar('text-color', 'primary'),
    'text-color-checked': getCssVar('text-color', 'primary'),
    'label-text-color': getCssVar('text-color', 'primary'),
    'bg-color': getCssVar('fill-color', '1'),
    'bg-color-checked': getCssVar('color-primary'),
    'border-color-disabled': getCssVar('border-color-base'),
    'input-fill-disabled': getCssVar('fill-color', '4'),
    'input-fill-disabled-checked': getCssVar('fill-color', '4'),
    'icon-color-checked': var(--grey-3),
    'icon-color-disabled': getCssVar('text-color', 'placeholder'),
    'icon-color-disabled-checked': getCssVar('text-color', 'placeholder'),
    'input-border-color-hover': getCssVar('color-primary'),
    'input-border-color-checked': getCssVar('color-primary'),
    'input-border-color-disabled': getCssVar('border-color-base'),
    'input-border-color-disabled-checked': getCssVar('border-color-base'),
    // 大小
    'input-height': 12px,
    'input-width': 12px,
    // 字体
    'font-size': getCssVar('font-size', 'base'),
    'font-weight': map.get($font-weight, 'regular'),
    // 其他
    'border-radius': getCssVar('border-radius', 'small'),
    'input-border': getCssVar('border')
  ),
  $checkbox
);

$checkbox-button: () !default;
$checkbox-button: map.merge(
  (
    // 颜色
    'text-color-hover': getCssVar('color-primary'),
    'text-color-checked': getCssVar('color-primary'),
    'bg-color-checked': getCssVar('color-primary', '2'),
    'border-color-checked': getCssVar('color-primary'),
    // 其他
    'box-shadow': -1px 0 0 0 getCssVar('color-primary', '7')
  ),
  $checkbox-button
);

$checkbox-bordered-padding-left: () !default;
$checkbox-bordered-padding-left: map.merge(
  (
    'large': 12px,
    'default': 10px,
    'small': 8px,
  ),
  $checkbox-bordered-padding-left
);

$checkbox-bordered-padding-right: () !default;
$checkbox-bordered-padding-right: map.merge(
  (
    'large': 20px,
    'default': 16px,
    'small': 12px,
  ),
  $checkbox-bordered-padding-right
);

// Radio
/// fontSize||Font|1
$radio: () !default;
$radio: map.merge(
  (
    // 颜色
    'text-color': getCssVar('text-color', 'primary'),
    'input-bg-color': getCssVar('fill-color', '1'),
    // 间距
    // 大小
    'input-width': 12px,
    'input-height': 12px,
    // 字体
    'font-size': getCssVar('font-size', 'base'),
    'font-weight': map.get($font-weight, 'regular'),
    // 其他
    'input-border': getCssVar('border'),
    'input-border-color': getCssVar('border-color', 'base'),
    'input-border-color-hover': getCssVar('color', 'primary'),
    'input-border-radius': getCssVar('border-radius', 'circle')
  ),
  $radio
);

$radio-font-size: () !default;
$radio-font-size: map.merge(
  (
    'large': 14px,
    'small': 12px,
  ),
  $radio-font-size
);

$radio-height: () !default;
$radio-height: map.merge($common-component-size, $radio-height);

$radio-button: () !default;
$radio-button: map.merge(
  (
    // 颜色
    'bg-color-checked': getCssVar('color', 'primary-2'),
    'text-color-checked': getCssVar('color', 'primary'),
    'border-color-checked': getCssVar('color', 'primary'),
    'bg-color-disabled-checked': getCssVar('border-color', 'light')
  ),
  $radio-button
);

$radio-disabled: () !default;
$radio-disabled: map.merge(
  (
    'input-border-color': getCssVar('disabled', 'border-color'),
    'input-fill': getCssVar('disabled', 'bg-color'),
    'icon-color': getCssVar('disabled', 'bg-color'),
    'input-border-color-checked': getCssVar('disabled', 'border-color'),
    'input-fill-checked': getCssVar('disabled', 'bg-color'),
    'icon-color-checked': getCssVar('text-color', 'placeholder'),
  ),
  $radio-disabled
);

$radio-checked: () !default;
$radio-checked: map.merge(
  (
    'text-color': getCssVar('color', 'primary'),
    'input-border-color': getCssVar('color', 'primary-4'),
    'icon-color': getCssVar('color', 'primary-2'),
  ),
  $radio-checked
);

$radio-bordered-input-height: () !default;
$radio-bordered-input-height: map.merge(
  (
    'large': 14px,
    'default': 12px,
    'small': 12px,
  ),
  $radio-bordered-input-height
);

$radio-bordered-input-width: () !default;
$radio-bordered-input-width: map.merge(
  (
    'large': 14px,
    'default': 12px,
    'small': 12px,
  ),
  $radio-bordered-input-width
);

// Select
$select: () !default;
$select: map.merge(
  (
    // 颜色
    'border-color-hover': getCssVar('border-color-hover'),
    'border-color-disabled': getCssVar('disabled-border-color'),
    'close-color-hover': getCssVar('text-color-secondary'),
    'input-color': getCssVar('text-color-placeholder'),
    'multiple-input-color': getCssVar('text-color-regular'),
    'input-border-color-focus': getCssVar('color-primary'),
    // 字体
    'font-size': getCssVar('font-size-base'),
    'input-font-size': 14px,
    'arrow-font-size': 8px
  ),
  $select
);

$select-option: () !default;
$select-option: map.merge(
  (
    // 颜色
    'text-color': getCssVar('text-color-regular'),
    'disabled-color': getCssVar('text-color-placeholder'),
    'hover-background': getCssVar('fill-color', 'light'),
    'selected-text-color': getCssVar('color-primary'),
    // 大小
    'height': 34px
  ),
  $select-option
);

$select-group: () !default;
$select-group: map.merge(
  (
    // 颜色
    'text-color': getCssVar('color-info'),
    // 大小
    'height': 30px,
    // 字体
    'font-size': 12px
  ),
  $select-group
);

$select-dropdown: () !default;
$select-dropdown: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '3'),
    'empty--textcolor': getCssVar('text-color', 'secondary'),
    // 间距
    'padding': 6px 0,
    'empty-padding': 10px 0,
    // 大小
    'max-height': 274px,
    // 其他
    'border': 1px solid getCssVar('border-color', 'light'),
    'shadow': getCssVar('box-shadow', 'light')
  ),
  $select-dropdown
);

$select-tags-prefix-padding: () !default;
$select-tags-prefix-padding: map.merge(
  (
    'large': 8px,
    'default': 6px,
    'small': 4px,
  ),
  $select-tags-prefix-padding
);

// Alert
// css3 var in packages/theme-chalk/src/alert.scss
$alert: () !default;
$alert: map.merge(
  (
    'padding': 8px 16px,
    'border-radius-base': getCssVar('border-radius-base'),
    'title-font-size': 13px,
    'description-font-size': 12px,
    'close-font-size': 12px,
    'close-customed-font-size': 13px,
    'icon-size': 16px,
    'icon-large-size': 28px,
  ),
  $alert
);

// MessageBox
// css3 var in packages/theme-chalk/src/message-box.scss
$message-box: () !default;
$message-box: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '2'),
    'header-bg-color': getCssVar('fill-color', '4'),
    'title-text-color': getCssVar('text-color', 'primary'),
    'content-text-color': getCssVar('text-color', 'primary'),
    'desc-text-color': getCssVar('text-color', 'secondary'),
    // 间距
    'padding': map.get($spacing, 'base'),
    'padding-large': map.get($spacing, 'loose') map.get($spacing, 'base'),
    // 大小
    'width': 350px,
    'header-height': 36px,
    'icon-size': map.get($icon-size, 'large'),
    'icon-size-large': map.get($icon-size, 'extra-large'),
    // 字体
    'font-size': getCssVar('font-size', 'base'),
    'title-font-weight': map.get($font-weight, 'bold'),
    'content-font-size': getCssVar('font-size', 'base'),
    'desc-font-size': getCssVar('font-size', 'extra-small'),
    'error-font-size': 12px,
    'close-font-size': getCssVar('font-size', 'medium'),
    // 其他
    'border-radius': getCssVar('border-radius', 'base')
  ),
  $message-box
);

// Message
// css3 var in packages/theme-chalk/src/message.scss
$message: () !default;
$message: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '3'),
    'close-icon-color': getCssVar('text-color', 'primary'),
    'close-icon-color-hover': getCssVar('text-color', 'secondary'),
    // 间距
    'padding': 12px map.get($spacing, 'base'),
    // 大小
    'min-width': 176px,
    // 字体
    'close-font-size': 12px,
    // 其他
  ),
  $message
);

// Notification
// css3 var in packages/theme-chalk/src/notification.scss
$notification: () !default;
$notification: map.merge(
  (
    'width': 330px,
    'padding': 14px 26px 14px 13px,
    'radius': 8px,
    'shadow': getCssVar('box-shadow-light'),
    'border-color': getCssVar('border-color-lighter'),
    'icon-size': 24px,
    'close-font-size': map.get($message, 'close-font-size'),
    'group-margin-left': 13px,
    'group-margin-right': 8px,
    'content-font-size': getCssVar('font-size-base'),
    'content-color': getCssVar('text-color-regular'),
    'title-font-size': 16px,
    'title-color': getCssVar('text-color-primary'),
    'close-color': getCssVar('text-color-secondary'),
    'close-hover-color': getCssVar('text-color-regular'),
  ),
  $notification
);

// Input
// css3 var in packages/theme-chalk/src/input.scss
$input: () !default;
$input: map.merge(
  (
    // 颜色
    'text-color': getCssVar('text-color', 'primary'),
    'transparent-border': 0 0 0 1px transparent inset,
    'border-color': getCssVar('border-color', 'base'),
    'border-color-hover': getCssVar('color', 'primary'),
    'border-color-focus': getCssVar('color', 'primary'),
    'bg-color': getCssVar('fill-color', '1'),
    'icon-color': getCssVar('text-color', 'placeholder'),
    'placeholder-color': getCssVar('text-color', 'placeholder'),
    'clear-color-hover': getCssVar('text-color', 'secondary'),
    'count-text-color': getCssVar('text-color', 'placeholder'),
    'mixed-bg-color': getCssVar('fill-color', '4'),
    // 间距
    'margin': 0 -16px,
    'padding': 0 16px,
    // 其他
    'border': getCssVar('border-color', 'base'),
    'border-radius': getCssVar('border-radius', 'base')
  ),
  $input
);

$input-disabled: () !default;
$input-disabled: map.merge(
  (
    'fill': getCssVar('disabled', 'bg-color'),
    'border': getCssVar('disabled', 'border-color'),
    'text-color': getCssVar('disabled', 'text-color'),
    'placeholder-color': getCssVar('text-color', 'placeholder'),
  ),
  $input-disabled
);

$input-readonly: () !default;
$input-readonly: map.merge(
  (
    'fill-color': getCssVar('disabled', 'bg-color'),
    'border-color': getCssVar('border-color', 'light'),
  ),
  $input-readonly
);

$input-font-size: () !default;
$input-font-size: map.merge(
  (
    'large': 14px,
    'default': 14px,
    'small': 12px,
  ),
  $input-font-size
);

$input-height: () !default;
$input-height: map.merge($common-component-size, $input-height);

$input-line-height: () !default;
$input-line-height: map.merge($common-component-size, $input-line-height);

$input-number-width: () !default;
$input-number-width: map.merge(
  (
    'large': 180px,
    'default': 150px,
    'small': 120px,
  ),
  $input-number-width
);

$input-padding-horizontal: () !default;
$input-padding-horizontal: map.merge(
  (
    'large': 12px,
    'default': 8px,
    'small': 8px,
  ),
  $input-padding-horizontal
);

// Cascader
// css3 var in packages/theme-chalk/src/cascader.scss
$cascader: () !default;
$cascader: map.merge(
  (
    // 'menu-text-color': getCssVar('text-color-regular'),
    // 'menu-selected-text-color': getCssVar('color-primary'),
    // 'menu-fill': getCssVar('bg-color', 'overlay'),
    // 'menu-font-size': getCssVar('font-size-base'),
    // 'menu-radius': getCssVar('border-radius-base'),
    // 'menu-border': solid 1px getCssVar('border-color-light'),
    // 'menu-shadow': getCssVar('box-shadow-light'),
    // 'node-background-hover': getCssVar('fill-color', 'light'),
    // 'node-color-disabled': getCssVar('text-color-placeholder'),
    // 'color-empty': getCssVar('text-color-placeholder'),
    // 'tag-background': getCssVar('fill-color'),
    // 颜色
    'menu-text-color': var(--el-text-color-primary),
    'menu-text-color-selected': var(--el-color-primary),
    'menu-fill': var(--grey-4),
    'node-bg-color-hover': var(--el-color-info-8),
    'node-text-color-disabled': var(--el-disabled-text-color),
    'empty-text-color': var(--el-text-color-placeholder),
    'tag-bg-color': var(--grey-6),
    // 字体
    'font-size': var(--el-font-size-base),
    'menu-font-size': var(--el-font-size-base),
    // 其他
    'menu-border-radius': var(--el-border-radius-base),
    'menu-border': solid 1px var(--el-line-color-base),
    'menu-box-shadow': var(--el-box-shadow-light)
  ),
  $cascader
);

// Button
// css3 var in packages/theme-chalk/src/button.scss
$button: () !default;
$button: map.merge(
  (
    // 颜色
    'bg-color': transparent,
    'text-color': getCssVar('text-color', 'secondary'),
    'text-color-hover': getCssVar('color', 'primary'),
    'text-color-active': getCssVar('color', 'primary'),
    'text-color-disabled': getCssVar('text-color', 'placeholder'),
    'bg-color-hover': getCssVar('color', 'primary-2'),
    'bg-color-active': getCssVar('color', 'primary-2'),
    'bg-color-disabled': getCssVar('text-color', 'disabled'),
    'divide-border-color': rgba($color-white, 0.5),
    'border-color': getCssVar('border-color', 'base'),
    'border-color-hover': getCssVar('color', 'primary-3'),
    'border-color-active': getCssVar('color', 'primary'),
    'border-color-disabled': getCssVar('text-color', 'disabled'),
    'plain-text-color-hover': getCssVar('color', 'primary'),
    'plain-text-color-active': getCssVar('color', 'primary-7'),
    'plain-border-color-hover': getCssVar('color', 'primary'),
    'plain-border-color-active': getCssVar('color', 'primary-7'),
    'plain-bg-color-hover': getCssVar('color', 'primary-1'),
    'text-text-color': getCssVar('color', 'primary'),
    'text-text-color-hover': getCssVar('color', 'primary-5'),
    'text-text-color-active': getCssVar('color', 'primary-7'),
    'text-border-color-hover': transparent,
    'text-border-color-active': transparent,
    'text-bg-color-hover': transparent,
    'text-bg-color-active': transparent,
    // 字体
    'font-weight': map.get($font-weight, 'regular'),
    // 其他
    'border': getCssVar('border'),
    'border-radius-round': getCssVar('border-radius', 'round')
  ),
  $button
);

$button-icon-span-gap: () !default;
$button-icon-span-gap: map.merge(
  (
    'large': 8px,
    'default': 6px,
    'small': 4px,
  ),
  $button-icon-span-gap
);

$button-border-width: $border-width !default;

// need mix, so do not use css var
$button-hover-tint-percent: 20%;
$button-active-shade-percent: 10%;

$button-border-color: () !default;
$button-bg-color: () !default;
$button-text-color: () !default;

@each $type in $types {
  $button-border-color: map.merge(
    (
      $type: map.get($colors, $type, 'base'),
    ),
    $button-border-color
  ) !global;

  $button-bg-color: map.merge(
    (
      $type: map.get($colors, $type, 'base'),
    ),
    $button-bg-color
  ) !global;
}

$button-font-size: () !default;
$button-font-size: map.merge(
  (
    'large': getCssVar('font-size', 'medium'),
    'default': getCssVar('font-size', 'base'),
    'small': getCssVar('font-size', 'extra-small'),
  ),
  $button-font-size
);

$button-border-radius: () !default;
$button-border-radius: map.merge(
  (
    'large': getCssVar('border-radius', 'base'),
    'default': getCssVar('border-radius', 'base'),
    'small': calc(#{getCssVar('border-radius', 'base')} - 1px),
  ),
  $button-border-radius
);

$button-padding-vertical: () !default;
$button-padding-vertical: map.merge(
  (
    'large': 13px,
    'default': 9px,
    'small': 6px,
  ),
  $button-padding-vertical
);

$button-padding-horizontal: () !default;
$button-padding-horizontal: map.merge(
  (
    'large': 20px,
    'default': 16px,
    'small': 12px,
  ),
  $button-padding-horizontal
);

// Switch
// css3 var in packages/theme-chalk/src/switch.scss
$switch: () !default;
$switch: map.merge(
  (
    // 颜色
    'on-color': getCssVar('color', 'primary'),
    'off-color': getCssVar('border-color', 'base'),
    // 大小
    'width': 40px,
    'height': 20px,
    'button-size': 16px,
    // 其他
    'core-border-radius': 10px
  ),
  $switch
);

$switch-height: () !default;
$switch-height: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $switch-height
);

$switch-font-size: () !default;
$switch-font-size: map.merge(
  (
    'large': 14px,
    'default': 14px,
    'small': 12px,
  ),
  $switch-font-size
);

$switch-core-border-radius: () !default;
$switch-core-border-radius: map.merge(
  (
    'large': 12px,
    'default': 10px,
    'small': 8px,
  ),
  $switch-core-border-radius
);

$switch-core-width: () !default;
$switch-core-width: map.merge(
  (
    'large': 50px,
    'default': 40px,
    'small': 30px,
  ),
  $switch-core-width
);

$switch-core-height: () !default;
$switch-core-height: map.merge(
  (
    'large': 24px,
    'default': 20px,
    'small': 16px,
  ),
  $switch-core-height
);

$switch-button-size: () !default;
$switch-button-size: map.merge(
  (
    'large': 20px,
    'default': 16px,
    'small': 12px,
  ),
  $switch-button-size
);

// Dialog
// css3 var in packages/theme-chalk/src/dialog.scss
$dialog: () !default;
$dialog: map.merge(
  (
    'width': 50%,
    'margin-top': 15vh,
    'bg-color': getCssVar('bg-color'),
    'box-shadow': getCssVar('box-shadow'),
    'title-font-size': getCssVar('font-size-large'),
    'content-font-size': 14px,
    'font-line-height': getCssVar('font-line-height-primary'),
    'padding-primary': 20px,
    'border-radius': getCssVar('border-radius-small'),
  ),
  $dialog
);

// Table
// css3 var in packages/theme-chalk/src/table.scss
$table: () !default;
$table: map.merge(
  (
    'border-color': getCssVar('border-color-lighter'),
    'border': 1px solid getCssVar('table-border-color'),
    'text-color': getCssVar('text-color-regular'),
    'header-text-color': getCssVar('text-color-secondary'),
    'row-hover-bg-color': getCssVar('fill-color', 'light'),
    'current-row-bg-color': getCssVar('color-primary-light-9'),
    'header-bg-color': getCssVar('bg-color'),
    'fixed-box-shadow': getCssVar('box-shadow', 'light'),
    'bg-color': getCssVar('fill-color', 'blank'),
    'tr-bg-color': getCssVar('fill-color', 'blank'),
    'expanded-cell-bg-color': getCssVar('fill-color', 'blank'),
    'fixed-left-column': inset 10px 0 10px -10px rgb(0 0 0 / 15%),
    'fixed-right-column': inset -10px 0 10px -10px rgb(0 0 0 / 15%),
  ),
  $table
);

$table-font-size: () !default;
$table-font-size: map.merge(
  (
    'large': getCssVar('font-size', 'base'),
    'default': 14px,
    'small': 12px,
  ),
  $table-font-size
);

$table-padding: () !default;
$table-padding: map.merge(
  (
    'large': 12px 0,
    'default': 8px 0,
    'small': 4px 0,
  ),
  $table-padding
);

$table-cell-padding: () !default;
$table-cell-padding: map.merge(
  (
    'large': 0 16px,
    'default': 0 12px,
    'small': 0 8px,
  ),
  $table-cell-padding
);

// Pagination
// css3 var in packages/theme-chalk/src/pagination.scss
$pagination: () !default;
$pagination: map.merge(
  (
    'font-size': 14px,
    'bg-color': getCssVar('fill-color', 'blank'),
    'text-color': getCssVar('text-color-primary'),
    'border-radius': 3px,
    'button-color': getCssVar('text-color-primary'),
    'button-width': 32px,
    'button-height': 32px,
    'button-disabled-color': getCssVar('text-color-placeholder'),
    'button-disabled-bg-color': getCssVar('fill-color', 'blank'),
    'button-bg-color': getCssVar('fill-color'),
    'hover-color': getCssVar('color-primary'),
    'height-extra-small': 24px,
    'line-height-extra-small': getCssVar('pagination-height-extra-small'),
  ),
  $pagination
);

// Popup
// css3 var in packages/theme-chalk/src/popup.scss
$popup: () !default;
$popup: map.merge(
  (
    'modal-bg-color': getCssVar('color-black'),
    'modal-opacity': 0.5,
  ),
  $popup
);

// Popover
// css3 var in packages/theme-chalk/src/popover.scss
$popover: () !default;
$popover: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '3'),
    'border-color': var(--grey-4),
    'title-text-color': getCssVar('text-color', 'primary'),
    // 间距
    'padding': 12px,
    'padding-large': 18px 20px,
    // 字体
    'font-size': getCssVar('font-size', 'base'),
    'title-font-size': 16px,
    // 其他
    'border-radius': 2px,
    'box-shadow': getCssVar('box-shadow', 'light')
  ),
  $popover
);

// popper
// Pay attention to the difference between 'popper' and 'popover'
$popper: () !default;
$popper: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '3'),
    'text-color': getCssVar('color', 'white'),
    // 间距
    'padding': 10px,
    // 其他
    'border-radius': 4px
  ),
  $popper
);

// Tooltip
$tooltip: () !default;
$tooltip: map.merge(
  (
    // 颜色
    // 'fill': rgba(0, 0, 0, 0.8),
    'fill': getCssVar('color', 'black'),
    'color': getCssVar('color', 'white'),
    'color-light': var(--blue-6),
    // 间距
    'padding': 10px,
    // 大小
    'arrow-size': 6px,
    // 字体
    'font-size': 12px,
    // 其他
    'border-color': var(--el-text-color-primary),
    'shadow': 0 2px 6px 0 rgba(0, 0, 0, 0.2)
  ),
  $tooltip
);

// skeleton
$skeleton: () !default;
$skeleton: map.merge(
  (
    'color': getCssVar('fill-color'),
    'to-color': getCssVar('fill-color', 'darker'),
  ),
  $skeleton
);

// Tag
// css3 var in packages/theme-chalk/src/tag.scss
$tag: () !default;
$tag: map.merge(
  (
    'font-size': 12px,
    'border-radius': 4px,
    'border-radius-rounded': 9999px,
  ),
  $tag
);

$tag-height: () !default;
$tag-height: map.merge(
  (
    'large': 32px,
    'default': 24px,
    'small': 20px,
  ),
  $tag-height
);

$tag-padding: () !default;
$tag-padding: map.merge(
  (
    'large': 12px,
    'default': 10px,
    'small': 8px,
  ),
  $tag-padding
);

$tag-icon-size: () !default;
$tag-icon-size: map.merge(
  (
    'large': 16px,
    'default': 14px,
    'small': 12px,
  ),
  $tag-icon-size
);

// Tree
// css3 var in packages/theme-chalk/src/tree.scss
$tree: () !default;
$tree: map.merge(
  (
    'node-hover-bg-color': getCssVar('fill-color', 'light'),
    'text-color': getCssVar('text-color-regular'),
    'expand-icon-color': getCssVar('text-color-placeholder'),
  ),
  $tree
);

// Dropdown
$dropdown: () !default;
$dropdown: map.merge(
  (
    'menu-box-shadow': getCssVar('box-shadow-light'),
    'menuItem-hover-fill': getCssVar('color-primary-light-9'),
    'menuItem-hover-color': getCssVar('color-primary'),
    'menu-index': 10,
  ),
  $dropdown
);

// drawer
$drawer: () !default;
$drawer: map.merge(
  (
    // 颜色
    'bg-color': getCssVar('fill-color', '2'),
    // 间距
    'padding': map.get($spacing, 'base') map.get($spacing, 'loose')
  ),
  $drawer
);

// Badge
// css3 var in packages/theme-chalk/src/badge.scss
$badge: () !default;
$badge: map.merge(
  (
    'bg-color': getCssVar('color-danger'),
    'radius': 10px,
    'font-size': 12px,
    'padding': 6px,
    'size': 18px,
  ),
  $badge
);

// Card
$card: () !default;
$card: map.merge(
  (
    'border-color': getCssVar('border-color', 'light'),
    'border-radius': 4px,
    'padding': 20px,
    'bg-color': getCssVar('fill-color', 'blank'),
  ),
  $card
);

// Slider
// css3 var in packages/theme-chalk/src/slider.scss
$slider: () !default;
$slider: map.merge(
  (
    'main-bg-color': getCssVar('color-primary'),
    'runway-bg-color': getCssVar('border-color-light'),
    'stop-bg-color': getCssVar('color-white'),
    'disabled-color': getCssVar('text-color-placeholder'),
    'border-radius': 3px,
    'height': 6px,
    'button-size': 20px,
    'button-wrapper-size': 36px,
    'button-wrapper-offset': -15px,
  ),
  $slider
);

// Menu
// css3 var in packages/theme-chalk/src/menu.scss
$menu: () !default;
$menu: map.merge(
  (
    'active-color': getCssVar('color-primary'),
    'text-color': getCssVar('text-color-primary'),
    'hover-text-color': getCssVar('color-primary'),
    'bg-color': getCssVar('fill-color', 'blank'),
    'hover-bg-color': getCssVar('color-primary-light-9'),
    'item-height': 56px,
    'sub-item-height': calc(#{getCssVar('menu-item-height')} - 6px),
    'horizontal-sub-item-height': 36px,
    'item-font-size': getCssVar('font-size-base'),
    'item-hover-fill': getCssVar('color-primary-light-9'),
    'border-color': getCssVar('border-color'),
    'base-level-padding': 20px,
    'level-padding': 20px,
    'icon-width': 24px,
    'icon-transform-closed': 'none',
    'icon-transform-open': 'rotateZ(180deg)',
  ),
  $menu
);

// Rate
$rate: () !default;
$rate: map.merge(
  (
    'height': 20px,
    'font-size': getCssVar('font-size-base'),
    'icon-size': 18px,
    'icon-margin': 6px,
    // seems not be used, to be removed
    // 'icon-color': getCssVar('text-color-placeholder),
    'void-color': getCssVar('border-color', 'darker'),
    'fill-color': #f7ba2a,
    'disabled-void-color': getCssVar('fill-color'),
    'text-color': getCssVar('text-color', 'primary'),
  ),
  $rate
);

// DatePicker
// css3 var packages/theme-chalk/src/date-picker/var.scss
$datepicker: () !default;
$datepicker: map.merge(
  (
    // 颜色
    'bg-color': var(--grey-4),
    'bg-color-active': var(--el-color-primary),
    'text-color': var(--el-text-color-primary),
    'text-color-hover': var(--grey-8),
    'text-color-active': var(--el-color-primary),
    'off-text-color': var(--el-text-color-placeholder),
    'header-text-color': var(--el-text-color-secondary),
    'icon-color': var(--el-text-color-primary),
    'border-color': var(--el-border-color-light),
    'inner-border-color': var(--grey-1),
    'inrange-bg-color': var(--transparent-4),
    'inrange-bg-color-hover': var(--transparent-4),
    'active-color': var(--el-color-primary)
  ),
  $datepicker
);

$date-editor: () !default;
$date-editor: map.merge(
  (
    'width': 220px,
    'monthrange-width': 300px,
    'daterange-width': 350px,
    'datetimerange-width': 400px,
  ),
  $date-editor
);

// Loading
// css3 var in packages/theme-chalk/src/loading.scss
$loading: () !default;
$loading: map.merge(
  (
    'spinner-size': 42px,
    'fullscreen-spinner-size': 50px,
  ),
  $loading
);

// Scrollbar
// css3 var in packages/theme-chalk/src/scrollbar.scss
$scrollbar: () !default;
$scrollbar: map.merge(
  (
    'opacity': 0.3,
    'bg-color': getCssVar('text-color-secondary'),
    'hover-opacity': 0.5,
    'hover-bg-color': getCssVar('text-color-secondary'),
  ),
  $scrollbar
);

// Carousel
// css3 var in packages/theme-chalk/src/carousel.scss
$carousel: () !default;
$carousel: map.merge(
  (
    'arrow-font-size': 12px,
    'arrow-size': 36px,
    'arrow-background': rgba(31, 45, 61, 0.11),
    'arrow-hover-background': rgba(31, 45, 61, 0.23),
    'indicator-width': 30px,
    'indicator-height': 2px,
    'indicator-padding-horizontal': 4px,
    'indicator-padding-vertical': 12px,
    'indicator-out-color': getCssVar('border-color-hover'),
  ),
  $carousel
);

// Collapse
// css3 var in packages/theme-chalk/src/collapse.scss
$collapse: () !default;
$collapse: map.merge(
  (
    'border-color': getCssVar('border-color-lighter'),
    'header-height': 48px,
    'header-bg-color': getCssVar('fill-color', 'blank'),
    'header-text-color': getCssVar('text-color-primary'),
    'header-font-size': 13px,
    'content-bg-color': getCssVar('fill-color', 'blank'),
    'content-font-size': 13px,
    'content-text-color': getCssVar('text-color-primary'),
  ),
  $collapse
);

// Transfer
// css3 var in packages/theme-chalk/src/transfer.scss
$transfer: () !default;
$transfer: map.merge(
  (
    'border-color': getCssVar('border-color-lighter'),
    'border-radius': getCssVar('border-radius-base'),
    'panel-width': 200px,
    'panel-header-height': 40px,
    'panel-header-bg-color': getCssVar('fill-color', 'light'),
    'panel-footer-height': 40px,
    'panel-body-height': 278px,
    'item-height': 30px,
    'filter-height': 32px,
  ),
  $transfer
);

// Timeline
// css3 var in packages/theme-chalk/src/timeline-item.scss
$timeline: () !default;
$timeline: map.merge(
  (
    'node-size-normal': 12px,
    'node-size-large': 14px,
    'node-color': getCssVar('border-color-light'),
  ),
  $timeline
);

// Tabs
// css3 var in packages/theme-chalk/src/tabs.scss
$tabs: () !default;
$tabs: map.merge(
  (
    'header-height': 40px,
  ),
  $tabs
);

// Backtop
// css3 var in packages/theme-chalk/src/backtop.scss
$backtop: () !default;
$backtop: map.merge(
  (
    'bg-color': getCssVar('bg-color', 'overlay'),
    'text-color': getCssVar('color-primary'),
    'hover-bg-color': getCssVar('border-color-extra-light'),
  ),
  $backtop
);

// Link
// css3 var in packages/theme-chalk/src/link.scss
$link: () !default;
$link: map.merge(
  (
    // 颜色
    'default-text-color': getCssVar('text-color', 'secondary'),
    'default-text-color-hover': getCssVar('color', 'primary'),
    'default-text-color-active': getCssVar('color', 'primary'),
    'text-color-disabled': getCssVar('text-color', 'placeholder'),
    // 字体
    'font-size': placeholder('font-size', 'base'),
    'font-weight': map.get($font-weight, 'bold')
  ),
  $link
);

$link-text-color: () !default;

@each $type in $types {
  $link-text-color: map.merge(
    $link-text-color,
    (
      $type: map.get($colors, $type, 'base'),
    )
  ) !global;
}

// Calendar
// css3 var in packages/theme-chalk/src/calendar.scss
$calendar: () !default;
$calendar: map.merge(
  (
    'border':
      var(
        #{getCssVarName('table-border')},
        1px solid #{getCssVar('border-color-lighter')}
      ),
    'header-border-bottom': getCssVar('calendar-border'),
    'selected-bg-color': getCssVar('color', 'primary', 'light-9'),
    'cell-width': 85px,
  ),
  $calendar
);

// Form
// css3 var in packages/theme-chalk/src/form.scss
$form: () !default;
$form: map.merge(
  (
    // 颜色
    'text-color': getCssVar('text-color', 'primary'),
    'label-text-color': getCssVar('text-color', 'primary'),
    'text-label-text-color': getCssVar('text-color', 'secondary'),
    // 字体
    'font-size': getCssVar('font-size-base'),
    'label-font-size': getCssVar('font-size-base')
  ),
  $form
);

$form-item-margin-bottom: () !default;
$form-item-margin-bottom: map.merge(
  (
    'large': 22px,
    'default': 16px,
    'small': 16px,
  ),
  $form-item-margin-bottom
);

$form-item-line-height: () !default;
$form-item-line-height: map.merge(
  (
    'large': 36px,
    'default': 30px,
    'small': 24px,
  ),
  $form-item-line-height
);

$form-item-error-padding-top: () !default;
$form-item-error-padding-top: map.merge(
  (
    'large': 4px,
    'default': 2px,
    'small': 2px,
  ),
  $form-item-error-padding-top
);

$form-item-label-top-line-height: () !default;
$form-item-label-top-line-height: map.merge(
  (
    'large': 22px,
    'default': 22px,
    'small': 20px,
  ),
  $form-item-label-top-line-height
);

$form-item-label-top-margin-bottom: () !default;
$form-item-label-top-margin-bottom: map.merge(
  (
    'large': 12px,
    'default': 8px,
    'small': 4px,
  ),
  $form-item-label-top-margin-bottom
);

// Avatar
// css3 var in packages/theme-chalk/src/avatar.scss
$avatar: () !default;
$avatar: map.merge(
  (
    'text-color': getCssVar('color-white'),
    'bg-color': getCssVar('text-color', 'disabled'),
    'text-size': 14px,
    'icon-size': 18px,
    'border-radius': getCssVar('border-radius-base'),
  ),
  $avatar
);

$avatar-size: () !default;
$avatar-size: map.merge(
  (
    'large': 56px,
    'default': 40px,
    'small': 24px,
  ),
  $avatar-size
);

// Empty
// css3 var in packages/theme-chalk/src/empty.scss
$empty: () !default;
$empty: map.merge(
  (
    'padding': 40px 0,
    'image-width': 160px,
    'description-margin-top': 20px,
    'bottom-margin-top': 20px,
    'fill-color-0': getCssVar('color-white'),
    'fill-color-1': #fcfcfd,
    'fill-color-2': #f8f9fb,
    'fill-color-3': #f7f8fc,
    'fill-color-4': #eeeff3,
    'fill-color-5': #edeef2,
    'fill-color-6': #e9ebef,
    'fill-color-7': #e5e7e9,
    'fill-color-8': #e0e3e9,
    'fill-color-9': #d5d7de,
  ),
  $empty
);

// Descriptions
// css3 var in packages/theme-chalk/src/descriptions.scss
$descriptions: () !default;
$descriptions: map.merge(
  (
    'table-border': 1px solid getCssVar('border-color-lighter'),
    'item-bordered-label-background': getCssVar('fill-color', 'light'),
  ),
  $descriptions
);

// Result
// css3 var in packages/theme-chalk/src/result.scss
$result: () !default;
$result: map.merge(
  (
    'padding': 40px 30px,
    'icon-font-size': 64px,
    'title-font-size': 20px,
    'title-margin-top': 20px,
    'subtitle-margin-top': 10px,
    'extra-margin-top': 30px,
  ),
  $result
);

// Upload
// css3 var in packages/theme-chalk/src/upload.scss
$upload: () !default;
$upload: map.merge(
  (
    'dragger-padding-horizontal': 40px,
    'dragger-padding-vertical': 10px,
  ),
  $upload
);

// transition
$transition: () !default;
$transition: map.merge(
  (
    'all': all getCssVar('transition-duration')
      getCssVar('transition-function-ease-in-out-bezier'),
    'fade': opacity getCssVar('transition-duration')
      getCssVar('transition-function-fast-bezier'),
    'md-fade': (
      transform getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
      opacity getCssVar('transition-duration')
        getCssVar('transition-function-fast-bezier'),
    ),
    'fade-linear': opacity getCssVar('transition-duration-fast') linear,
    'border': border-color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'box-shadow': box-shadow getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
    'color': color getCssVar('transition-duration-fast')
      getCssVar('transition-function-ease-in-out-bezier'),
  ),
  $transition
);

$transition-duration: () !default;
$transition-duration: map.merge(
  (
    '': 0.3s,
    'fast': 0.2s,
  ),
  $transition-duration
);

$transition-function: () !default;
$transition-function: map.merge(
  (
    'ease-in-out-bezier': cubic-bezier(0.645, 0.045, 0.355, 1),
    'fast-bezier': cubic-bezier(0.23, 1, 0.32, 1),
  ),
  $transition-function
);

// header
$header: () !default;
$header: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $header
);
// main
$main: () !default;
$main: map.merge(
  (
    'padding': 20px,
  ),
  $main
);
// footer
$footer: () !default;
$footer: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $footer
);

// Break-point
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
  'xs': '(max-width: #{$sm})',
  'sm': '(min-width: #{$sm})',
  'md': '(min-width: #{$md})',
  'lg': '(min-width: #{$lg})',
  'xl': '(min-width: #{$xl})',
) !default;

$breakpoints-spec: (
  'xs-only': '(max-width: #{$sm - 1})',
  'sm-and-up': '(min-width: #{$sm})',
  'sm-only': '(min-width: #{$sm}) and (max-width: #{$md - 1})',
  'sm-and-down': '(max-width: #{$md - 1})',
  'md-and-up': '(min-width: #{$md})',
  'md-only': '(min-width: #{$md}) and (max-width: #{$lg - 1})',
  'md-and-down': '(max-width: #{$lg - 1})',
  'lg-and-up': '(min-width: #{$lg})',
  'lg-only': '(min-width: #{$lg}) and (max-width: #{$xl - 1})',
  'lg-and-down': '(max-width: #{$xl - 1})',
  'xl-only': '(min-width: #{$xl})',
) !default;
